.main-button {
    cursor: pointer;
    flex-wrap: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 12px 32px;
    border-radius: var(--border-r-34);
    border: none;
    height: 48px;
}
.section__wrapper {
    max-width: var(--layout-width);
    margin: 0 auto;
    padding: 0 24px;
}
.section_light {
    height: 100vh;
}
