.header {
    background: var(--accent-color);
}

.header__wrapper {
    max-width: var(--layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 24px;
    margin: 0 auto;
}
.header__wrapper__logo {
    font-size: 36px;
    font-weight: 900;
    line-height: var(--line-h-140);
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.header__wrapper__list-nav {
    cursor: pointer;
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.header__wrapper__list-nav__link{
    font-size: var(--font-s-18);
    line-height: var(--line-h-140);
    font-weight: var(--font-w-500);
    text-decoration: none;
    color:var(--primary-color-white-dizabled)
}
.header__wrapper__list-nav__link:hover {
    color: var(--primary-color);
}
.header__button-mobile-menu {
    display: none;
    background: none;
    border: none;
}
@media (max-width: 1024px) {
    .header__wrapper {
        padding: 24px 0px;
        border-bottom: 1px solid var(--color-header-border);
        margin: 0px 24px
    }
    .header__button-mobile-menu {
        display: block;
    }
    .header__wrapper__list-nav {
        display: none;
    }
    .main-button_header {
        display: none;
    }
}
@media (max-width: 480px) {
    .header__wrapper__logo  {
        font-size: 24px;
    }
}