.header__wrapper {
    max-width: calc(1400px - 48px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 24px;
    margin: 0 auto;
}
.hero-link-Finio {
    font-size: 36px;
    font-weight: 900;
    line-height: 140%;
    color: var(--secondary-color);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.wrapper__list {
    cursor: pointer;
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0;
}
.wrapper__list__link{
    text-decoration: none;
    color:var(--secondary-color-white-dizabled)
}
.wrapper__list__link:hover {
    color: var(--secondary-color);
}
.header__button-mobile-menu {
    display: none;
    background: none;
    border: none;
}
@media (max-width: 480px) {
    .header__wrapper {
        padding: 28px 24px;
    }
    .hero-link-Finio  {
        font-size: 24px;
    }
}
@media (max-width: 1200px) {
    .header__button-mobile-menu {
        display: block;
    }
    .wrapper__list {
        display: none;
    }
    .main-button {
        display: none;
    }
}