/* Section-hero*/
.section_blue {
    background: var(--accent-color);
    /* clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%); */
}

.section__wrapper_1 {
    display: flex;
    gap: 18px;
    justify-content: space-between;
    padding-top: 73px;
}

.section__wrapper__header__text {
    font-size: var(--font-s-40);
    font-weight: var(--font-w-800);
    line-height: var(---line-h-120);
    color: var(--primary-color);
    margin: 0;
    margin-bottom: 32px;
}

.main-button_section_blue {
    color: var(--accent-color);
    font-size: var(--font-s-17);
    font-weight: var(--font-w-800);
    line-height: var(--line-h-140);
}

.section__wrapper__button {
    width: 100%;
    display: flex;
}

.section__wrapper__market {
    display: flex;
    margin-top: 80px;
    margin-bottom: 83px;
}

.section__wrapper__hero-photo {
    display: flex;
    max-width: 100%;
}

@media (max-width: 1300px) {
    .section__wrapper_1 {
        flex-direction: column;
    }

    .section__wrapper__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section__wrapper__header__text {
        text-align: center;
    }

    .section__wrapper__hero-photo {
        flex-direction: column;
        align-items: center;
    }

    .section__wrapper__button {
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .section__wrapper_1 {
        padding-top: 28px;
    }

    .section__wrapper__market {
        margin-top: 56px;
    }
}

@media (max-width: 860px) {
    .section__wrapper__header__text {
        font-size: 34px;
    }

    .section__wrapper__hero-photo {
        display: none;
    }

    .section__wrapper__market {
        margin-bottom: 110px;
    }
}

@media (max-width: 640px) {
    .section__wrapper__header__text {
        font-size: 32px;
        text-align: left;
    }

    .section__wrapper__header {
        align-items: start;
    }

    .section__wrapper__button {
        justify-content: start;
    }

    .main-button_section_blue {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .section__wrapper__market {
        transform: scale(0.9);
        align-items: start;
    }

    .main-button_section_blue {
        white-space: nowrap;
    }
}