/* Общиие стили */
* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(243deg, #FDC5C5 25.45%, rgba(242, 152, 222, 0.00) 100%), linear-gradient(243deg, #FFA5A5 32.96%, rgba(255, 255, 255, 0.00) 82.03%), #F39494;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    margin: 0;
}

main {
    background-color: #FFFEFE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 582px;
    height: 573px;
    border-radius: 10px;
    margin: 225px 429px;
    padding: 72px 93px 91px 93px;
}

form {
    display: flex;
    flex-flow: column;
}

/* Стили классов и id */

.header {
    margin-bottom: 47px;
}

.hero-text {
    color: #333;
    font-size: 36px;
    font-weight: 700;
    width: 100%;
    height: 54px;
    text-align: center;
}

.subtitle {
    color: #666;
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.sign-up-link {
    color: #089FE0;
    font-size: 18px;
    text-decoration: underline;
    width: 65px;
    padding-left: 6px;
}

.field {
    display: flex;
    flex-flow: column;
    row-gap: 22px;
}

#company_name {
    color: #333;
    background-color: #FFF;
    font-size: 16px;
    font-weight: 600;
    width: 394px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #F5F5F5;
    padding: 9px 0px 9px 11px;
}

#company_name:focus {
    outline-color: #FDC5C5;
}

#company_name::placeholder {
    color: #999;
}

.name-lastname {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}

#name {
    color: #333;
    width: 100%;
    height: 44px;
    font-size: 16px;
    font-style: italic;
    border: none;
    background: #F5F5F5;
    border-right: 1px solid #FFF;
    padding: 9px 0px 9px 11px;
}

#name:focus {
    outline-color: #FDC5C5;
}

#name::placeholder {
    color: #999;
}

#lastname {
    color: #333;
    width: 100%;
    height: 44px;
    font-size: 16px;
    font-style: italic;
    border: none;
    background: #F5F5F5;
    padding: 9px 0px 9px 11px;
}

#lastname:focus {
    outline-color: #FDC5C5;
}

#lastname::placeholder {
    color: #999;
}

#email {
    color: #333;
    width: 100%;
    height: 44px;
    font-size: 16px;
    font-style: italic;
    background: #F5F5F5;
    border: none;
    border-radius: 5px;
    padding: 9px 0px 9px 11px;
}

#email:focus {
    outline-color: #FDC5C5;
}

#email::placeholder {
    color: #999;
}

.button {
    position: relative;
}

.button button {
    font-size: 18px;
    width: 100%;
    height: 44px;
    background: #089FE0;
    color: #FFF;
    padding: 9px 102px 9px 102px;
    border: none;
    border-radius: 5px;
}

.button img {
    position: absolute;
    top: 8px;
    right: 24px;
}

.link-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
}

#checkbox {
    border-radius: 5px;
    border: 1px solid #EEE;
    background: #F5F5F5;
}

.link-checkbox label {
    color: #666;
    font-size: 14px;
}

#uzer_rule {
    color: #089FE0;
    font-size: 14px;
    text-decoration: none;
}