body { 
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
}
h1 {
    color: #FFF;
    font-size: 24px;
    line-height: 38px;
}
.header_link { 
    color: #FFF;
    font-size: 16px;
    line-height: normal;
    text-decoration: none;
}
.hero_link {
    color: #FFF;
    font-size: 18px;
    line-height: normal;
    text-decoration: none;
}
.article_text {
    font-size: 16px;
    line-height: 30px;
}
.author {
    color: #FFF;
    line-height: 28px;
}

.footer {
    color: #FFF;
    opacity: 0.6;
    font-size: 16px;
    line-height: 28px
}
#search { 
    background-color: rgba(31, 41, 55, 0.60);
    color: #FFF;
    font-size: 16px;
    line-height: normal;

}
#article {
    color: #FFF;
    font-size: 14px;
    line-height: normal;
    opacity: 0.6;
}

#name_author {
    font-size: 16px;
}
#specialization { 
    font-size: 14px;
    opacity: 0.6;
}
#hero-text { 
    font-size: 20px;
    line-height: 32px;
}
