body { 
    font-family: Roboto;
    font-style: normal;
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
}
header a { 
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
header > a {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}
#search { 
    background-color: rgba(31, 41, 55, 0.60);
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;

}
#article {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
}
h1 { 
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
}
.author { 
    color: #FFF;
    font-weight: 400;
    line-height: 28px;
}
#name_author {
    font-size: 16px;
}
#specialization { 
    font-size: 14px;
    opacity: 0.6;
}
#hero-text { 
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.paragraph-text { 
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
footer { 
    color: #FFF;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px
}